workflows/discord_digest.json
[{"createdAt":"2025-08-21T15:56:50.409Z","updatedAt":"2025-08-25T17:29:13.000Z","id":"SMqceSkEJZqYJJPL","name":"ZF Discord Scrape","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"dc3168c1-f185-4b0c-a122-598388f96b8a","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","guildId":{"__rl":true,"value":"676527656170160146","mode":"list","cachedResultName":"Zcash Foundation","cachedResultUrl":"https://discord.com/channels/676527656170160146"},"limit":15,"options":{"filter":[0]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[208,0],"id":"961218e0-5d65-4095-8975-d122fa2ef33e","name":"Get many channels","webhookId":"26535d19-4d19-4880-bc10-25a4d07f2083","credentials":{"discordBotApi":{"id":"SDbsjesOlD1VR596","name":"Discord Bot account"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"676527656170160146","mode":"list","cachedResultName":"Zcash Foundation","cachedResultUrl":"https://discord.com/channels/676527656170160146"},"channelId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[416,0],"id":"99f0c913-954d-4080-9b9d-b354eda253c8","name":"Get many messages","webhookId":"822738d0-cdc0-4dfc-b48a-4d801a1d801c","credentials":{"discordBotApi":{"id":"SDbsjesOlD1VR596","name":"Discord Bot account"}}},{"parameters":{"jsCode":"// n8n Code node: Aggregate author.username and content into a single string for LLM\nconst formatted = items\n  .filter(item => item.json.content && item.json.author && item.json.author.username)\n  .map(item => `author: ${item.json.author.username}, message: ${item.json.content}`)\n  .join('\\n');\n\nreturn [{ json: { messages: formatted } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,0],"id":"9a7abf96-5d2b-4daf-a291-892ee47d3be3","name":"Aggregate author.username and content into a single string"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"={{ $json.messages }}"}]},"options":{"systemMessage":"Provide a succinct summary of the following Discord messages. The target audience for this summary are members of the ZF engineering and comms-ops teams."}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[1008,0],"id":"f4ac79d6-7e92-42c5-9874-64e767b554cb","name":"Summarize with Gemini","executeOnce":false,"credentials":{"googlePalmApi":{"id":"vu1ySHHvyvvKvpnn","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"de0cba4e-c870-484a-a5cb-a26b4ea1efb7","leftValue":"={{ $json.timestamp }}","rightValue":"={{ new Date(new Date($now).getTime() - 365 * 24 * 60 * 60 * 1000).toISOString() }}\n","operator":{"type":"dateTime","operation":"after"}},{"id":"1728a81f-0b94-4dd0-8d2e-2676ebfb959c","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[624,0],"id":"a3d2155b-603f-4591-b3cf-20e3852b4aa2","name":"Keep only recent messages that are not empty"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#synapse-testing","mode":"name"},"text":"=Server: Zcash Foundation\n{{ $json.mrkdwn }}","otherOptions":{"includeLinkToWorkflow":false,"mrkdwn":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1552,0],"id":"349047e1-a2bd-4a7e-8f82-e1198d904833","name":"Send a message","webhookId":"d998c274-906e-4bcb-9c46-ed3dcd2ae4ff","credentials":{"slackApi":{"id":"U60fQFxexzL1XB6A","name":"Slack account"}}},{"parameters":{"jsCode":"function markdownToMrkdwn(text) {\n  // Headings: Convert Markdown headings to bold\n  text = text.replace(/^#{1,6}\\s*(.*)$/gm, '*$1*');\n\n  // Bold: **text** or __text__ → *text*\n  text = text.replace(/(\\*\\*|__)(.*?)\\1/g, '*$2*');\n\n  // Italic: *text* or _text_ → _text_\n  // Avoid converting list asterisks\n  text = text.replace(/(\\s|^)(\\*|_)([^\\s*][^*]*?)\\2(\\s|$)/g, '$1_$3_$4');\n\n  // Lists: Markdown * or - at line start → Slack uses •\n  text = text.replace(/^\\s*[\\*\\-]\\s+/gm, '• ');\n\n  // Remove extra blank lines at start/end\n  text = text.trim();\n\n  return text;\n}\n\nfor (const item of $input.all()) {\n  const markdown = item.json.content?.parts?.[0]?.text || '';\n  item.json.mrkdwn = markdownToMrkdwn(markdown);\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,0],"id":"0e5a092f-4f42-42bf-a01b-759ec4bdc5aa","name":"Convert markdown to Slack mrkdwn"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many channels","type":"main","index":0}]]},"Get many channels":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"Keep only recent messages that are not empty","type":"main","index":0}]]},"Aggregate author.username and content into a single string":{"main":[[{"node":"Summarize with Gemini","type":"main","index":0}]]},"Summarize with Gemini":{"main":[[{"node":"Convert markdown to Slack mrkdwn","type":"main","index":0}]]},"Keep only recent messages that are not empty":{"main":[[{"node":"Aggregate author.username and content into a single string","type":"main","index":0}]]},"Convert markdown to Slack mrkdwn":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"96517c49-0581-45c8-b1a9-28e61fed473c","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-08-21T15:56:50.415Z","updatedAt":"2025-08-21T15:56:50.415Z","role":"workflow:owner","workflowId":"SMqceSkEJZqYJJPL","projectId":"pwkT6dmoHw828bdb","project":{"createdAt":"2025-08-21T15:55:12.552Z","updatedAt":"2025-08-25T14:27:11.226Z","id":"pwkT6dmoHw828bdb","name":"D C <campbeldl@gmail.com>","type":"personal","icon":null,"description":null}}]}]
